<section id="about-section" class="container text-center d-flex flex-column justify-content-center align-items-center ">
    <div class="about-section__title">
        <h1 class="about-section__title__h1">Uma agenda de
            <span class="about-section__title__span">questionamentos</span>, <br><span
                class="about-section__title__span">saberes</span> e <span
                class="about-section__title__span">organização</span> do pensar.
        </h1>
    </div>
    <div class="about-section__subtitle mt-2">
        <i class="about-section__subtitle__text">
            "É necessário considerar nossas ideias como reflexo intelectual dos objetos e do movimento do mundo real, e
            não considerar os objetos do mundo real e suas transformações como reflexo de nossas ideias."
        </i>
    </div>
</section>