{% load static %}
<section id="main-section" class="row container d-flex flex-column-reverse flex-md-row justify-content-center">
    <div class="col-12 col-md-8 p-0 main-section__content">
        {% if posts %}
        {% for post in posts %}
        <div class="main-section__content__texts mb-4">
            <div class="row d-flex justify-content-center align-items-start">
                <div class="main-section__content__texts__image col-12 d-flex justify-content-center">
                    <img src="{% static 'posts/assets/images/post_image.jpg' %}" alt="Post image" class="img-fluid">
                </div>
                <div class=" main-section__content__texts__write col-12 ps-md-5 d-flex flex-column justify-content-center align-items-center align-items-md-start ">
                    <p class="my-2" style="color: #696981;">{{post.author.username|capfirst}} - {{post.created_at|date}}
                    </p>
                    <div class="main-section__content__texts__write__title">
                        <h2 class="main-section__content__texts__write__title__h2 text-center text-md-start">{{ post.title }}</h2>
                    </div>
                    <div class="main-section__content__texts__write__body">
                        <p class="main-section__content__texts__write__body__p">{{post.summary}}</p>
                        <div id="collapse-content-{{post.id}}" class="main-section__content__texts__write__body collapse">
                            <p class="main-section__content__texts__write__body__p">{{post.body.content|safe}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start ms-4 ms-md-0" style="width: 100%;">
                        <a class="main-section__content__texts__write__body__read_more d-flex align-items-center" data-bs-toggle="collapse" href="#collapse-content-{{post.id}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse">
                            <span class="button-text">Continuar leitura</span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#514dcc">
                                <path d="m298-262-56-56 121-122H80v-80h283L242-642l56-56 218 218-218 218Zm222-18v-80h360v80H520Zm0-320v-80h360v80H520Zm120 160v-80h240v80H640Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#514dcc" style="display: none;"><path d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"/></svg></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Post navigation" class="justify-self-center d-flex justify-content-md-start justify-content-center">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
        
                {% for page_num in posts.paginator.page_range %}
                    <li class="page-item {% if page_num == posts.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
        
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <h2 class="main-section__content__empty_posts">Ainda não há publicações nessa categoria</h2>
        {% endif %}
    </div>
    <div class="col-12 col-md-4 main-section__about">
        <div class="main-section__about__posts_text d-flex flex-column justify-content-center align-items-start">
            <div class="main-section__about__posts_text__title">
                <h2 class="m-0">Sobre mim</h2>
            </div>
            <div class="main-section__about__posts_text__description mt-2">
                <p class="main-section__about__posts_text__description__name m-0">Matheus Pinheiro Passos</p>
                <p class="main-section__about__posts_text__description__attribute mt-0">Desenvolvedor de Software</p>
                <p class="main-section__about__posts_text__description__text m-0 mt-3">
                    Graduado em Sistemas de Informação e especializado em Python, com mais de 5 anos de experiência no desenvolvimento de
                    aplicações web, sou também um entusiasta das leituras sociológicas e históricas, com foco nas dinâmicas da sociedade, nas
                    relações de produção e no materialismo histórico dialético.

                    Já atuei em projetos em instituições filantrópicas, no mercado autônomo de condomínios, em sistemas meteorológicos e
                    no setor de telecomunicações.

                    Ao longo dos anos, desenvolvi habilidades em tecnologias como Django, Django REST Framework, CSS, Bootstrap,
                    JavaScript, JQuery, Docker, AWS (EC2, ECS, RDS, S3, Lambda e CloudWatch), bancos de dados relacionais (MySQL e PostgreSQL),
                    GIT e desenvolvimento orientado a testes.
                </p>
            </div>
        </div>
    </div>
</section>